:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  .swiper-slide {
    display: block;
  }
  ion-slide > img {
    max-height: 50%;
    max-width: 60%;
    border-radius: 10%;
  }
  h2{
    color: #ffffff;
  }
  p{
    color: #ffffff;
    text-align: justify;  
  }ion-button{
    color: #C0C0C0;
  }
  ion-label{
    color: #C0C0C0;
    font-size: 60%;
  }
  div{
    margin-top: 10%;
    color: #ADD8E6;
  }
  planets{
    border-radius: 0px 0px 30px 30px;
    border: solid 1px #363636;
  }
